# /etc/systemd/system/mirrorhelper.service
# systemctl enable mirrorhelper

[Unit]
Description=Mirror helper for axihome 3
Wants=network-online.target
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/srv/mirror/
ExecStart=/srv/mirror/mirrorhelper
Restart=always
StandardOutput=null

[Install]
WantedBy=multi-user.target
